asgiref==3.11.1
chardet==7.4.3
Django==4.2.16
gunicorn==26.0.0
packaging==26.2
pillow==10.4.0
python-decouple==3.8
reportlab==4.2.5
sqlparse==0.5.5
typing_extensions==4.16.0
tzdata==2026.3
whitenoise==6.12.0
